/* body elements decorations */
 
 body{
  font-size: 22px;
  line-height: 1.1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: #353941;
  
 }

 .body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }

 /* header and navigation start */
 header{
   display: flex;
   justify-content: space-between;
   
   /* color */
   background-color: #26282b; 
   
  }

  h1 {
   margin: 0;
   padding: 0.8em;

   /* fonts */
   font-family: 'Carter One', Franklin Gothic Medium , Arial Narrow, sans-serif ;
  }

  /* anchor tag and logo */
  a{
   text-decoration: none;
   font-family: 'Lato', Franklin Gothic Medium, Arial Narrow, sans-serif;
  }
  .logo{
    display: flex;
   align-items: center;
   justify-content: space-evenly;
   
   /* font size and color for logo */
   font-size: 1.5rem;
   font-family: 'Modern Antiqua', Verdana, Geneva, Tahoma, cursive, sans-serif;
   font-size: clamp(1.5rem, 3.5vw, 4rem); 
   color: #90b8f8;
  }

   /* logo image */
  .logo img{
    max-width: 4rem;
    margin-right: 0.5em;
    margin-left: 0.8em;
    mix-blend-mode: hard-light;
  }
  
  /* main nav bar */
  .main-nav{
    display: flex;
    list-style: none; 

}

  
  /* nav bar anchor tag */
 .main-nav a{
   display: block;
   padding: 0.5em;
   
   /* color and fonts */
   text-decoration: none;
   font-size: clamp(0.7rem, 3.5vw, 2rem); 
   color: #90b8f8;
 }
 
 /* nav bar hover state */
 .main-nav a:hover {
   text-transform: uppercase;
 }

 /* header and navigation end */


#toggle {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  margin-right: 0.8em;
  z-index: 5;
}

/* footer start */
footer{
  background-color: #26282b;
  
  
}

.footer-nav{
  display: flex;
  margin: 0;
  list-style: none;
  /* padding: 1em; */
  width: max-content;
  height: max-content;
}

/* nav parent */

/* nav anchor */
.footer-nav a{
  color: #90b8f8;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
}

/* terms and conditions */
.copy-right{
  display: flex;
  justify-content: center;
  gap: 2rem;
  
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(0.5rem, 2vw, 1rem); 
  color: #90b8f8;
  
} 

/* terms and conditions on hover */
.copy-right a{
  color: #90b8f8;
}

.copy-right a:hover{
  background-color: #90b8f8;
  border-radius: 10px;
}

/* social media icons */
.social-media{
  display: flex;
  
  margin-right: 3em;
  gap: 1em;
  
}

.nav-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hover state for social media */
.social-media a:hover{
  color: whitesmoke;
}

/* social media anchor tag */
.social-media a{
  color: #90b8f8;
}

/* navigation hover state */
.footer-nav a:hover{
  color: whitesmoke;

}
@media only screen and (max-width: 60em) {
  .copy-right {
    
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 1rem;

  }
  .nav-media{
    display: flex;
    justify-content: space-evenly;
  }


  /* humburger menu */

  /* humburger menu style and visibilty */

  .hamburger div {
  position: relative;
  width: 2em;
  height: 0.3em;
  border-radius: 3px;
  background-color: #90b8f8;
  margin-top: 0.4rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  
}

.hamburger {
  margin-top: 0.7em;
}

  nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #F0ECFC;
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}

   .main-nav {
    height: 100%;
    overflow-y: auto;
    overflow: hidden; */
    position: relative;
    text-align: left;
    margin-left: 25%;
  }


    .main-nav li {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 2em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}


  #toggle:checked + .hamburger .bar1 {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bar3 {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .bar2 {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + nav {
  top: 0;
  transform: scale(1);
}

.hamburger:has(input:checked) + .main-nav{
  translate: 0;
}



.main-nav{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1em;
}

.main-nav a{
  color: #26282b ;
  font-weight: bold;
}
}

